<div th:include="header">...</div>
<div id="container">
	<h2 th:text="${beer}? |Editing: ${beer.name}| : 'Beer Not Found!'"> beer name</h2>
		<form action="#" th:action="@{/beer/edit/submit}" th:object="${beerModel}" method="post">
			
			<h3>General Info</h3>
			<hr />
			<p>Name: <input type="text" th:field="*{name}"></input></p>
			<p>Style: <input type="text" th:field="*{style}"></input></p><br />
			<p>Description: <input type="text" th:field="*{description}"></input></p>
			<p>Category: <input type="text" th:field="*{category}"></input></p><br />
			
			<h3>Details</h3>
			<hr />
			<p>Alcohol(ABV): <input type="text" th:field="*{abv}"></input></p>
			<p>Beer Color (SRM): <input type="text" th:field="*{srm}"></input></p>
			<p>Bitterness (IBU): <input type="text" th:field="*{ibu}"></input></p>
			<p>Universal Product Code (UPC): <input type="text" th:field="*{upc}"></input></p>
			
			<h3>Brewery</h3>
			<hr />
			<p>Brewery: <input type="text" th:field="*{brewery}"></input></p>
			<input type="submit" value="Save"/>
		</form>		
</div>
<div th:include="footer">...</div>